<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebExamen</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DoGet</display-name>
    <servlet-name>DoGet</servlet-name>
    <servlet-class>DoGet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoGet</servlet-name>
    <url-pattern>/DoGet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoPostResta</display-name>
    <servlet-name>DoPostResta</servlet-name>
    <servlet-class>DoPostResta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoPostResta</servlet-name>
    <url-pattern>/DoPostResta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoPostMult</display-name>
    <servlet-name>DoPostMult</servlet-name>
    <servlet-class>DoPostMult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoPostMult</servlet-name>
    <url-pattern>/DoPostMult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoPostDiv</display-name>
    <servlet-name>DoPostDiv</servlet-name>
    <servlet-class>DoPostDiv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoPostDiv</servlet-name>
    <url-pattern>/DoPostDiv</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>DoPostSuma</display-name>
    <servlet-name>DoPostSuma</servlet-name>
    <servlet-class>DoPostSuma</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoPostSuma</servlet-name>
    <url-pattern>/DoPostSuma</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dfsdfsdfsd</display-name>
    <servlet-name>dfsdfsdfsd</servlet-name>
    <servlet-class>dfsdfsdfsd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dfsdfsdfsd</servlet-name>
    <url-pattern>/dfsdfsdfsd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>coca</display-name>
    <servlet-name>coca</servlet-name>
    <servlet-class>coca</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>coca</servlet-name>
    <url-pattern>/coca</url-pattern>
  </servlet-mapping>
</web-app>